.container {
padding: 5rem  1rem;
margin: auto;
display: flex;
flex-direction: column;
align-items:  center;
justify-content: center;
box-shadow:var(--box-shadow);

}

.h1 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
}

.container button {
    margin-bottom: 1rem;
}

.p {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 35rem;
    width: 100%;
    line-height: 1.9rem;
    color: var(--color-grey-300);
}

.p span {
    color: var(--color-primary-300);
    cursor: pointer;
}