.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, .1);
    padding: 2rem;
}

/* Media queries */

/*   

  @media (max-width: 1100px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }


   */

   @media (max-width: 610px) {
    .container {
      /* grid-template-columns: 1fr; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
