.container {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
 }
 
 .container h1 {
    font-family: LCD-solid;
    color: #65E2A2;
    text-align: center;
 }
 
 .container p {
    width: 100%;
    max-width: 70rem;
    color: var(--color-white);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
 }
 
 .content {
    width: 100%;
    max-width: var(--container-width);
    height: 100%;
    margin: auto;
 }
 
 .divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 
 .divider img {
    width: 100%;
    height: auto;
    max-width: 50rem;
 }
 