.container {
    width: 28rem;
    padding: 4rem 3.2rem;
    background-color: var(--color-nft-background);
    border-radius: .8rem;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
}

.header {
    padding: 5rem 3.7rem;
}



.header h1 {
    font-size: 6rem;
    font-family: LCD-solid;
    color: #65E2A2;
}

.body {
    margin-top: .8rem;
    height: 14rem;
}



.property {
    display: flex;
    font-size: 1.4rem;
    height: 2.8rem;
    align-items: center;

    /* letter-spacing: 1.4px; */
}

.propertyName {
    margin-right:.5rem;
    line-height: 2rem;
    color: #AFB3BA;
}

.finished {
    color: #00ED7B;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
    
